<h1>Serenity By The Sea - Malibu Retreat</h1>
<div class="row">

<% if user_signed_in? %>
    <h2>Hi <%= current_user.name %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></h2>


<% else %>
      <div class="col-md-4">    <%= asset_path('logo.png') %>
        <img src=<%= asset_path("cathy_statue.jpg") %> class="cathy_statue"><br/>
        <div class="well">
          <h3>Log In For Access...</h3>
          <%= render "/devise/sessions/login_form" %>
          <%= render "devise/shared/links" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well">
          <h3>Contact Us:</h3>
          <a href="mailto:"><strong>Carol Johnson</strong></a> phone <br/>
          <a href="mailto:megaverett@gmail.com"><strong>Meg Averett</strong></a>   (801) 583-1153          <br/>
          <a href="mailto:Judith Sacco"><strong>Judith Sacco</strong></a>  phone       <br/>
          <a href="mailto:aamax@xmission.com"><strong>Allen Maxwell</strong> (Web Site)</a> (801) 502-4745<br/>
        </div>
        <br/>
        <div class="well">
          <h3>Serra Retreat Center</h3>
          <strong>Snail Mail</strong><br/>
          3401 Serra Road <br/>
          PO Box 127<br/>
          Malibu, CA 90265<br/><br/>

          <strong>Phone</strong><br/>
          Tel: (310)456-6631<br/>
          Fax: (310) 456-9417<br/><br/>

          <strong>Email</strong><br/>
          <div class="row">
            <div class="col-md-6">
              <a href="mailto:frmel@serraretreat.com">Fr. Mel</a><br/>
              <a href="mailto:frwarren@serraretreat.com">Fr. Warren</a>  <br/>
              <a href="mailto:frmichael@serraretreat.com">Fr. Michael</a>  <br/>
              <a href="mailto:frtintle@serraretreat.com">Fr. Tintle</a> <br/>
            </div>
            <div class="col-md-6">
              <a href="mailto:reservations@serraretreat.com">Reservations</a> <br/>
              <a href="mailto:bookstore@serraretreat.com">Book Store</a> <br/>
              <a href="mailto:accounts@serraretreat.com">Accounts</a> <br/>
              <a href="mailto:marketing@serraretreat.com">Marketing</a> <br/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src=<%= asset_path("dastardly.jpg") %> ><br/>
      </div>


<% end %>
</div>