<h1>Malibu Campers List</h1>
<% if !current_user.nil? && current_user.has_role?(:admin) %>
	<%= link_to 'New User', new_user_path, class: 'btn btn-success btn-xs' %><br/>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>ADMIN</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= user.street %> <br/>
          <%= user.city %>
          <% unless user.city.blank? && user.state.blank? %>
              ,
          <% end %>

          <%= user.state %> <%= user.zip %>
        </td>
        <td>
          Home: <%= user.home_phone %><br/>
          Cell: <%= user.cell_phone %> <br/>
          Fax: <%= user.fax %>
        </td>
        <td>
		  <% if !current_user.nil? && current_user.has_role?(:admin) %>	
	          <%= link_to 'Show', user, class: 'btn btn-primary btn-xs user_btn' %> <br/>
	          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-info btn-xs user_btn' %> <br/>
	          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs user_btn' %> <br/>
			  <%= "Last IN: #{user.last_sign_in_at}"%>
		  <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


