<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <img src="/assets/francis_point.jpg">
</header>

<div class="container-fluid">
  <%= render 'layouts/messages' %>
  <%= yield %>
</div>

<!-- optional footer -->
<footer id="footer">
  <div class="footer-wrapper">
    <div class="row well">
      <div class="col-sm-6 text">
        Copyright © 2014 aamax Software Creations
      </div>

    </div>
  </div>
</footer>

</body>
</html>
